<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>提示</string>
	<key>UploadAlert</key>
	<string>最多上傳2張圖片</string>
	<key>Sure</key>
	<string>確定</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>AskTitle</key>
	<string>我要提問</string>
	<key>QType</key>
	<string>問題類型</string>
	<key>QDesc</key>
	<string>問題描述</string>
	<key>PhoneNum</key>
	<string>手機號碼</string>
	<key>PicAlert</key>
	<string>問題截圖（最多兩張，大小不超過5M）</string>
	<key>PicAlertNumError</key>
	<string>最多上傳2張圖片</string>
	<key>PicAlertLargeError</key>
	<string>圖片大小不能超過5M</string>
	<key>UpLoadPic</key>
	<string>上傳截圖</string>
	<key>Submit</key>
	<string>提交問題</string>
	<key>QDefaultDesc</key>
	<string>請輸入不少於10個字唷</string>
	<key>QDefaultPhoneDesc</key>
	<string>請輸入手機號，方便客服聯繫您</string>
	<key>QDefaultMailDesc</key>
	<string>請輸入e-mail，方便客服聯繫您</string>
	<key>Mail</key>
	<string>e-mail</string>
	<key>AnswerQTtile</key>
	<string>問題答覆</string>
	<key>AHelpAlert</key>
	<string>您的問題是否已得到解決？</string>
	<key>AHelpNo</key>
	<string>追加問題</string>
	<key>AHelpYes</key>
	<string>是，關閉問題</string>
	<key>AQuestionOver</key>
	<string>該問題已關閉，感謝您對我們服務的支持！</string>
	<key>ReAskQ</key>
	<string>追加提問</string>
	<key>ReAskQTitle</key>
	<string>補充描述</string>
	<key>ReAskQDesc</key>
	<string>親，請最少輸入10個字</string>
	<key>ReAskQPicAlert</key>
	<string>補充截圖（大小不超過5M）</string>
	<key>ReAskQSubmit</key>
	<string>確認追加</string>
	<key>ScoreAlertTitle</key>
	<string>客服評價</string>
	<key>ScoreAlertDesc</key>
	<string>您對本次問題的客服回復滿意嗎？</string>
	<key>ScoreVeryGood</key>
	<string>非常滿意</string>
	<key>ScoreNotGood</key>
	<string>不滿意</string>
	<key>ScoreUsual</key>
	<string>一般</string>
	<key>ScoreGood</key>
	<string>滿意</string>
	<key>ScoreGoodEnough</key>
	<string>很滿意</string>
	<key>SubmitSuccess</key>
	<string>提交成功</string>
	<key>SuccessAlert</key>
	<string>謝謝您的提問，我們會盡快答覆您，您可以在“我的問題”中查看回覆。</string>
	<key>SuccessSure</key>
	<string>我知道了</string>
	<key>1_1001</key>
	<string>請輸入您的手機號碼</string>
	<key>1_1002</key>
	<string>手機號碼數位異常</string>
	<key>1_1003</key>
	<string>問題描述不能為空白</string>
	<key>1_1004</key>
	<string>問題描述不足10個字</string>
	<key>1_1005</key>
	<string>請補充描述或截圖</string>
	<key>1_1006</key>
	<string>提交失敗</string>
	<key>1_1007</key>
	<string>e-mail格式不正确</string>
	<key>1_QSubmitFail</key>
	<string>提交問題失敗</string>
	<key>2_QGetListFail</key>
	<string>問題列表獲取失敗</string>
	<key>3_ReAsKQFail</key>
	<string>問題提交失敗</string>
	<key>4_SubmitScoreFail</key>
	<string>評價失敗</string>
</dict>
</plist>
