<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>提示</string>
	<key>UploadAlert</key>
	<string>最多上传2张图片！</string>
	<key>Sure</key>
	<string>确定</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>AskTitle</key>
	<string>我要提问</string>
	<key>QType</key>
	<string>问题类型</string>
	<key>QDesc</key>
	<string>问题描述</string>
	<key>PhoneNum</key>
	<string>手机号码</string>
	<key>Mail</key>
	<string>电子邮箱</string>
	<key>PicAlert</key>
	<string>问题截图（最多两张，大小不超过5MB）</string>
	<key>PicAlertNumError</key>
	<string>最多上传2张图片！</string>
	<key>PicAlertLargeError</key>
	<string>图片大小不能超过5M</string>
	<key>UpLoadPic</key>
	<string>上传截图</string>
	<key>Submit</key>
	<string>提交问题</string>
	<key>QDefaultDesc</key>
	<string>亲，请输入不少于10个字呦</string>
	<key>QDefaultPhoneDesc</key>
	<string>请输入11位手机号，方便客服联系您</string>
	<key>QDefaultMailDesc</key>
	<string>请输入邮箱号，方便客服联系您</string>
	<key>AnswerQTtile</key>
	<string>问题答复</string>
	<key>AHelpAlert</key>
	<string>我们是否帮您解决了问题？</string>
	<key>AHelpNo</key>
	<string>不,追加问题</string>
	<key>AHelpYes</key>
	<string>是,关闭问题</string>
	<key>AQuestionOver</key>
	<string>本问题已关闭，感谢您对我们服务的支持！</string>
	<key>ReAskQ</key>
	<string>追加提问</string>
	<key>ReAskQTitle</key>
	<string>补充描述</string>
	<key>ReAskQDesc</key>
	<string>亲，请最少输入10个字</string>
	<key>ReAskQPicAlert</key>
	<string>补充截图（大小不超过5M）</string>
	<key>ReAskQSubmit</key>
	<string>确认追加</string>
	<key>ScoreAlertTitle</key>
	<string>客服评价</string>
	<key>ScoreAlertDesc</key>
	<string>您对本次问题的客服回复满意吗？</string>
	<key>ScoreVeryGood</key>
	<string>非常满意</string>
	<key>ScoreNotGood</key>
	<string>不满意</string>
	<key>ScoreUsual</key>
	<string>一般</string>
	<key>ScoreGood</key>
	<string>满意</string>
	<key>ScoreGoodEnough</key>
	<string>很满意</string>
	<key>SubmitSuccess</key>
	<string>提交成功</string>
	<key>SuccessAlert</key>
	<string>谢谢您的反馈，我们会尽快给您答复！您可在“我的问题”中查看回复情况！</string>
	<key>SuccessSure</key>
	<string>我知道了</string>
	<key>1_1001</key>
	<string>请输入11位手机号码</string>
	<key>1_1002</key>
	<string>手机号码位数异常</string>
	<key>1_1003</key>
	<string>问题描述不能为空</string>
	<key>1_1004</key>
	<string>问题描述不足10个字</string>
	<key>1_1005</key>
	<string>请补充描述或截图</string>
	<key>1_1006</key>
	<string>提交失败</string>
	<key>1_1007</key>
	<string>邮箱格式不正确</string>
	<key>1_QSubmitFail</key>
	<string>提交问题失败</string>
	<key>2_QGetListFail</key>
	<string>问题列表获取失败</string>
	<key>3_ReAsKQFail</key>
	<string>问题提交失败</string>
	<key>4_SubmitScoreFail</key>
	<string>评分失败</string>
</dict>
</plist>
