<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InitBillingUrl</key>
	<string>http://pay.gamebean.net:8080/billingcenter2.0</string>
	<key>OPPhoneNumMustBeAllNum</key>
	<string>手机号必须为纯数字</string>
	<key>OPPhoneFirstNumMustBe1</key>
	<string>手机号首位必须为1</string>
	<key>InitStatisticsUrl</key>
	<string>http://prism.gamebean.net/logmonitor/sdk/stat</string>
	<key>InitUserUrl</key>
	<string>http://auth.gamebean.net/ucenter</string>
	<key>InitUserHeartbeatUrl</key>
	<string>http://heartbeat.auth.gamebean.net/heartbeat.do</string>
	<key>InitGscUrl</key>
	<string>http://gscservice.gamebean.net/gscfront/sdk/index.do</string>
	<key>OPTitle</key>
	<string>提示</string>
	<key>OPInitString</key>
	<string>初始化中...</string>
	<key>OPInitError</key>
	<string>初始化失败，请检查您的网络是否可用！</string>
	<key>OPUpdateError</key>
	<string>版本检查失败，请检查您的网络是否可用！</string>
	<key>OPRegisterString</key>
	<string>注册中...</string>
	<key>OPLoginString</key>
	<string>登录中...</string>
	<key>OPLoadingString</key>
	<string>加载中...</string>
	<key>OPWaitingString</key>
	<string>请稍候...</string>
	<key>OPBackBtnName</key>
	<string>返回</string>
	<key>OPLoginSuccess</key>
	<string>登录成功！</string>
	<key>OPLoginFail</key>
	<string>登录失败！</string>
	<key>OPNetworkError</key>
	<string>网络连接异常，请检查网络！</string>
	<key>OPTimeOut</key>
	<string>连接超时！</string>
	<key>OPChargeFail</key>
	<string>购买失败！</string>
	<key>OPChargeDataError</key>
	<string>数据异常，下单失败！</string>
	<key>OPChargeOrderFail</key>
	<string>下单失败！</string>
	<key>OPUserRefuseCharge</key>
	<string>用户不允许应用内购买！</string>
	<key>OPChargeSuccess</key>
	<string>下单成功，由于网络影响，充值到账可能有延时！</string>
	<key>OPBindAccSuccess</key>
	<string>绑定账号成功！</string>
	<key>OPBindAccFail</key>
	<string>绑定账号失败！</string>
	<key>OPPWSuccess</key>
	<string>修改密码成功！</string>
	<key>OPPWFail</key>
	<string>修改密码失败！</string>
	<key>OPBindEmailSuccess</key>
	<string>绑定邮箱成功！</string>
	<key>OPBindEmailFail</key>
	<string>绑定邮箱失败！</string>
	<key>OPTimeOutError</key>
	<string>{\&quot;desc\&quot;:\&quot;连接超时!\&quot;,\&quot;reset\&quot;:\&quot;101\&quot;,\&quot;status\&quot;:\&quot;1\&quot;}</string>
	<key>OPInitialing</key>
	<string>正在初始化...</string>
	<key>OPSwitchAccount</key>
	<string>切换账号</string>
	<key>OPRegistering</key>
	<string>注册中...</string>
	<key>OPLogining</key>
	<string>登录中...</string>
	<key>OPBinding</key>
	<string>绑定中...</string>
	<key>OPLoginSus</key>
	<string>登录成功！</string>
	<key>OPRegisterSus</key>
	<string>注册成功！</string>
	<key>OPSelectDelegate</key>
	<string>请勾选掌趣用户注册协议！</string>
	<key>OPRegisterFailed</key>
	<string>注册失败！</string>
	<key>OPPswdEmpty</key>
	<string>密码不能为空！</string>
	<key>OPGetCodeSus</key>
	<string>验证码短信已发送到您的手机，请注意查收！</string>
	<key>OPBindPhoneSus</key>
	<string>绑定成功！</string>
	<key>OPBindPhoneFailed</key>
	<string>绑定失败！</string>
	<key>OPPswdLess</key>
	<string>密码不足6位，请重新输入！</string>
	<key>OPAcntEmpty</key>
	<string>账号不能为空！</string>
	<key>OPAcntNumWrong</key>
	<string>账号不足6位，请重新输入！</string>
	<key>OPErrorAcntExisted</key>
	<string>账号已经存在！</string>
	<key>OPPhoneEmpty</key>
	<string>手机号不能为空！</string>
	<key>OPPhoneNumWrong</key>
	<string>手机号格式不正确，请重新输入！</string>
	<key>OPVerifyCodeEmpty</key>
	<string>验证码不能为空！</string>
	<key>OPVerifyCodeLess</key>
	<string>验证码错误，请重新输入！</string>
	<key>OPErrorAcntNotExist</key>
	<string>账号不存在！</string>
	<key>OPEmailEmpty</key>
	<string>邮箱地址为空，请输入正确的邮箱地址！</string>
	<key>OPErrorAcntWrong</key>
	<string>用户名错误！</string>
	<key>OPPswdTypeWrong</key>
	<string>密码只能使用数字和字母，请重新输入!</string>
	<key>OPAccountNumIllegal</key>
	<string>不支持纯数字格式注册帐号，请修改后注册!</string>
	<key>OPErrorPswdWrong</key>
	<string>密码错误！</string>
	<key>OPErrorLoginFailed</key>
	<string>登录失败！</string>
	<key>OPErrorPhoneBinded</key>
	<string>该手机号已绑定过其他账号</string>
	<key>OPErrorPhoneNumWrong</key>
	<string>手机号有误！</string>
	<key>OPErrorVerifyCodeWrong</key>
	<string>验证码错误，请重新输入！</string>
	<key>OPErrorPhoneUnBinded</key>
	<string>手机未绑定！</string>
	<key>OPErrorGetVerifyCodeWrong</key>
	<string>验证码获取失败，请点击重新获取验证码！</string>
	<key>OPErrorAcntForbidened</key>
	<string>账号已封停！</string>
	<key>OPErrorMacForbidened</key>
	<string>mac已封停！</string>
	<key>OPBindTelphone</key>
	<string>绑定手机</string>
	<key>OPErrorHttpTimeOut</key>
	<string>连接超时！</string>
	<key>OPErrorHttpOpenError</key>
	<string>网络异常，请检查网络！</string>
	<key>OPErrorDataError</key>
	<string>数据异常！</string>
	<key>OPFontUI</key>
	<string>Heiti SC</string>
	<key>OPFontDes</key>
	<string>Heiti SC</string>
	<key>OPUpdateHint1</key>
	<string>又有版本更新啦！版本：</string>
	<key>OPUpdateHint2</key>
	<string>，大小：</string>
	<key>OPUpdateNow</key>
	<string>马上更新</string>
	<key>OPUpdateLater</key>
	<string>稍后更新</string>
	<key>OPFindNewVer</key>
	<string>检测到新版本</string>
	<key>OPNeverShowHint</key>
	<string>不再提示更新</string>
	<key>OPExitGame</key>
	<string>退出游戏</string>
	<key>OPPhoneNum</key>
	<string>手机号</string>
	<key>OPEnterPhoneNum</key>
	<string>请输入手机号</string>
	<key>OPVerifyCode</key>
	<string>验证码</string>
	<key>OPEnterVerifyCode</key>
	<string>输入6位验证码</string>
	<key>OPDealLater</key>
	<string>以后再说</string>
	<key>OPBindNow</key>
	<string>马上绑定</string>
	<key>OPGetVerifyCode</key>
	<string>获取验证码</string>
	<key>OPBindSuggestion</key>
	<string>绑定手机提供账户安全，方便及时找回密码</string>
	<key>OPBindSuggestionEmail</key>
	<string>强烈建议：绑定邮箱提高账户安全，方便及时找回密码</string>
	<key>OPGetVerifyCodeAgain</key>
	<string>重新获取验证码</string>
	<key>OPRefreshTime</key>
	<string>%d秒后重新获取</string>
	<key>OPEmailName</key>
	<string>邮箱地址</string>
	<key>OPEnterEmail</key>
	<string>请输入邮箱地址</string>
	<key>OPLoginGame</key>
	<string>登录游戏</string>
	<key>OPRegisterAcnt</key>
	<string>注册账号</string>
	<key>OPRegisterAcnt2</key>
	<string>快速注册</string>
	<key>OPAcntName</key>
	<string>账号</string>
	<key>OPAcntPlaceHolder</key>
	<string>请输入账号</string>
	<key>OPAcntPlaceHolder2</key>
	<string>输入手机/邮箱/个性账号</string>
	<key>OPPswdName</key>
	<string>密码</string>
	<key>OPPswdPlaceHolder</key>
	<string>请输入密码</string>
	<key>OPFasterGameTitle</key>
	<string>游客登录</string>
	<key>OPFasterGameTitle2</key>
	<string>开始游戏</string>
	<key>OPGoonplay</key>
	<string>继续体验</string>
	<key>OPFasterGameAlert</key>
	<string>快速试玩只能提供最基础的游戏体验！</string>
	<key>OPUserLogin</key>
	<string>掌趣账号登录</string>
	<key>OPLoginNowTitle</key>
	<string>账号登录</string>
	<key>OPGetPswd</key>
	<string>记住密码</string>
	<key>OPFindPswd</key>
	<string>找回密码</string>
	<key>OPSelectAcnt</key>
	<string>选择登录账号</string>
	<key>OPCancel</key>
	<string>取消</string>
	<key>OPAcntPlaceHolderRV</key>
	<string>不少于6位的数字、字母和&quot;_&quot;</string>
	<key>OPPswdPlaceHolderRV</key>
	<string>不少于6位的数字、字母</string>
	<key>OPRegister</key>
	<string>注册</string>
	<key>OPDisplayPswd</key>
	<string>显示密码</string>
	<key>OPAlreadyRead</key>
	<string>我已阅读并同意</string>
	<key>OPDelegate</key>
	<string>掌趣用户注册协议</string>
	<key>OPDelegateKorea</key>
	<string>个人信息收集条款及用户协议</string>
	<key>OPRegisterSpecAcnt</key>
	<string>注册个性账号</string>
	<key>OPRegisterHint</key>
	<string>您当前使用的是快速登录，尚未注册绑定个性账号，是否注册个性账号？</string>
	<key>OPRegisterNow</key>
	<string>现在注册</string>
	<key>OPBindEmail</key>
	<string>绑定邮箱</string>
	<key>GuestName</key>
	<string>游客</string>
	<key>WelcomToOP</key>
	<string>，欢迎进入掌趣游戏！</string>
	<key>OPAcntIllegal</key>
	<string>账号不足6位，请重新输入！</string>
	<key>OPEmailFormWrong</key>
	<string>邮箱格式错误，请重新输入！</string>
	<key>OPAcntSpaceInclude</key>
	<string>用户名中含有空格，请重新输入！</string>
	<key>OPAccount</key>
	<string>掌趣账号：</string>
	<key>OPPswdSpaceInclude</key>
	<string>密码中含有空格，请重新输入！</string>
	<key>OPRegisterBind</key>
	<string>注册并绑定</string>
	<key>OPBindAccount</key>
	<string>绑定个性账号</string>
	<key>OPBindAccount2</key>
	<string>绑定更安全的正式账号</string>
	<key>OPAccessTokenInvalid</key>
	<string>AccessToken无效</string>
	<key>OPShareSuccess</key>
	<string>分享成功</string>
	<key>OPShareFailed</key>
	<string>分享失败</string>
	<key>OPUnbindFacebook</key>
	<string>未绑定FaceBook</string>
	<key>OPUpdateString</key>
	<string>更新中...</string>
	<key>OPUpdateFailed</key>
	<string>更新失败，请重试！</string>
	<key>OPSure</key>
	<string>确定</string>
	<key>OPVerifyIdentity</key>
	<string>验证身份</string>
	<key>OPVerifyIdTitle</key>
	<string>使用手机号注册可以找到更多好友</string>
	<key>OPFufillRegisterBtn</key>
	<string>完成注册</string>
	<key>OPRegisterFormalAcnt</key>
	<string>注册正式账号</string>
	<key>OPRegisterFormalHint</key>
	<string>您当前是以游客身份登录，尚未注册正式账号，是否立即注册？</string>
	<key>OPVerifing</key>
	<string>验证中...</string>
	<key>OPAlertDelegateTitle</key>
	<string>免责申明</string>
	<key>OPAlertMsg</key>
	<string>请遵守当地法律法规!</string>
	<key>OPVerifySMSCodeFailed</key>
	<string>身份验证失败！</string>
	<key>OPErrorPhoneRegistered</key>
	<string>该手机号码已注册！</string>
	<key>OPInitFailed</key>
	<string>初始化失败！</string>
	<key>OPInvalidCharge</key>
	<string>当前支付方式暂不支持！</string>
	<key>OPAcntLogin</key>
	<string>账号登录</string>
	<key>OPGamecodeFail</key>
	<string>礼包码兑换失败！</string>
	<key>OPGamecodeDataError</key>
	<string>数据异常，礼包码兑换失败！</string>
	<key>OPGamecodeSuccess</key>
	<string>礼包码兑换成功，由于网络影响，礼包发放可能有延时！</string>
	<key>23157</key>
	<string>礼包码未生效！23157</string>
	<key>21185</key>
	<string>礼包码不能为空呦！21185</string>
	<key>21186</key>
	<string>礼包发放失败！21186</string>
	<key>21187</key>
	<string>无效的礼包码！21187</string>
	<key>21188</key>
	<string>礼包码已经过期！21188</string>
	<key>21189</key>
	<string>礼包码未生效！21189</string>
	<key>21190</key>
	<string>该礼包码已经使用过！21190</string>
	<key>21191</key>
	<string>您已兑换过该礼包啦！21191</string>
	<key>21192</key>
	<string>您已兑换过该礼包啦！21192</string>
	<key>21193</key>
	<string>礼包码未生效！21193</string>
	<key>21194</key>
	<string>该礼包码已不能兑换！21194</string>
	<key>21195</key>
	<string>网络异常！21195</string>
	<key>21196</key>
	<string>礼包码兑换失败！21196</string>
	<key>21197</key>
	<string>礼包码错误！21197</string>
	<key>21198</key>
	<string>礼包ID错误！21198</string>
	<key>21199</key>
	<string>未知错误！21199</string>
	<key>21200</key>
	<string>该礼包码已不能兑换！21200</string>
	<key>21201</key>
	<string>礼包码不适用于此游戏！21201</string>
	<key>21202</key>
	<string>未知错误！21202</string>
	<key>21203</key>
	<string>礼包码不适用于此渠道！21203</string>
	<key>21204</key>
	<string>礼包码不适用于此渠道！21204</string>
	<key>21205</key>
	<string>未知错误！21205</string>
	<key>21206</key>
	<string>未知错误！21206</string>
	<key>21207</key>
	<string>未知错误！21207</string>
	<key>21208</key>
	<string>礼包码不适用于此游戏服！21208</string>
	<key>OPErrorOther</key>
	<string>未知错误（1099）</string>
	<key>OPStoreWaiting</key>
	<string>正在生成订单...</string>
	<key>OPStoreGetProductInfo</key>
	<string>订单已生成，正在获取商品信息...</string>
	<key>OPStoreBuy</key>
	<string>商品信息获取成功，支付请求中...</string>
	<key>OPStoreVerify</key>
	<string>支付完成，验证中...</string>
	<key>OPStoreGetProductInfoFail</key>
	<string>商品信息获取失败，请稍后再试</string>
	<key>OPStoreProductInvalid</key>
	<string>您所要购买的商品不存在</string>
</dict>
</plist>
