################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.svn
*.suo
*.sln
*.swp
*.exe
*.pdb
server
client/client.CSharp.*proj
client/Assembly*
client/Library*
client/Temp*
client/obj*
client/UnityVS*
client/Assets/UnityVS*
client/Assets/Resources/Proto*
client/Assets/Resources/Lua*
/client/.vs
client/client.userprefs
client/client.v12.suo
client/*_Data
